{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "semi": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": "off",
    "no-unused-vars": "off",
    "indent": "off",
    "no-tabs": "off",
    "arrow-body-style": "off",
    "prefer-destructuring": "off",
    "no-param-reassign": "off"

  }
}